<footer class="page-footer">
    <div class="container center">
    <p>© {% now "Y" %} Copyright {{request.site.name}} All Rights Reserved</p>
    <div class="row">
        <div class="col">
            <a class="right center" href='/blog/'><strong>Blog</strong></a>
        </div>
        <div class="col">
            <a class=" right center" href='/r/terms_and_conditions/'><strong>Terms</strong></a>
        </div>
        <div class="col">
            <a class=" right center" href='/r/privacy_policy/'><strong>Privacy Policy</strong></a>
        </div>
    </div>
        </div>
</footer>